html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

label {
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

html,
body {
  min-height: 100%;
}
